.App-header {
    display: flex;
    align-content:start;
    justify-content:first baseline;
    border-bottom: #e0003c 3px solid;
    width: 100%;
    height: 140px;
}
.App-body{
    padding: 25px;
    height: 320px;
    border-bottom: #e0003c 3px solid;
}
.App-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
label {
    padding-right: 10px;
    width: 150px;
    text-align: center;
    clear: left;
}
input {
    padding-left: 10px;
    margin-right: 10px;
}
.App-body button {
    padding: 5px, 0px;
    margin-right: 10px;
}
