.App-logo {
    height: 160px;
}
.App-header {
    display: flex;
    border-bottom: #e0003c 3px solid;
}
.App-header h1{
    display: flex;
    align-items: center;
    color: #e0003c;
}
.App-body{
    padding: 25px;
    height: 320px;
    border-bottom: #e0003c 3px solid;
}
.App-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}